<!DOCTYPE html>
<html lang="tr">
<head>
<meta charset="UTF-8">
<meta name="description" content="Game Reviews">
<meta name="keywords" content="Review,Game,Blog">
<meta name="author" content="Büşra Özcabı">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bugcritic-Oyun incelemeleri,Blog,Tartışma</title>
<link rel="icon" href="/images/image.png" type="image/icon type">
<link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="topnav">
        <img class="image" src="/images/image.png" alt="logo">
        <p class="navheader">Bugcritic</p>
        <a class="active" href="/main.ejs">Anasayfa</a>
        <a href="/login.ejs">Giriş Yap</a>
        <a href="/register.ejs">Hesap Oluştur</a>
        <a href="#aboutme">İletişim/Hakkında</a>
      </div>
      <div class="sidenav">
        <a href="#acvalhalla">Assassin's Creed Valhalla</a>
        <a href="#bf2042">Battlefield 2042</a>
        <a href="#bf5">Battlefield V</a>
        <a href="#cod2">Call Of Duty Modern Warfare II</a>
	      <a href="#di2">Dead Island 2</a>
	      <a href="#dy">Dying Light</a>
        <a href="#dy2">Dying Light 2</a>
        <a href="#fh5">Forza Horizon 5</a>
        <a href="#gow">God Of War</a>
        <a href="#gowr">God Of War Ragnarök</a>
        <a href="#gtav">GTA V</a>
        <a href="#hl">Hogwarts Legacy</a>
        <a href="#hzd">Horizon Zero Dawn</a>
        <a href="#r6">Rainbow Six Siege</a>
        <a href="#rdr2">Red Dead Redemption II</a>
        <a href="#re4">Resident Evil 4</a>
        <a href="#re7">Resident Evil Biohazard</a>
        <a href="#re8">Resident Evil Village</a>
        <a href="#sonsf">Sons Of The Forest</a>
        <a href="#spdrmn">Spider-Man Miles Morales</a>
        <a href="#starwars">Star Wars Jedi Survivor</a>
        <a href="#tlou part1">The Last Of Us Part I</a>
        <a href="#tlou part2">The Last Of Us Part II</a>
        <a href="#lord of the rings">The Lord Of The Rings Gollum</a>
        <a href="#outlast trials">The Outlast Trials</a>
        <a href="#the sims 4">The Sims 4</a>
        <a href="#the quarry">The Quarry</a>
        <a href="#ud">Until Dawn</a>
      </div>      
    <section>
        <h1 class="sectionheader">En Yeniler</h1>
        <div class="slideshow-container">

          <div class="mySlides fade">
            <div class="numbertext">1 / 7</div>
            <img src="https://cdn1.epicgames.com/spt-assets/d20026139e774e57ab451e2a1b94c6e2/the-lord-of-the-rings--gollum-offer-1u5ei.png" style="width:100%">
            <div class="text">The Lord Of Rings Gollum</div>
          </div>
          
          <div class="mySlides fade">
            <div class="numbertext">2 / 7</div>
            <img src="https://cdn1.epicgames.com/6504cc61472e498796e0b4963a201438/offer/EGS_TheOutlastTrials_RedBarrels_S1-2560x1440-94e9ca382991373a4a464665014a78d4.jpg" style="width:100%">
            <div class="text">The Outlast Trials</div>
          </div>
          
          <div class="mySlides fade">
            <div class="numbertext">3 / 7</div>
            <img src="https://cdn1.epicgames.com/offer/5a2ea5980ac147c195775039195a3081/EGS_STARWARSJediSurvivorStandardEdition_RespawnEntertainment_S1_2560x1440-f9e8bb0209bb9ec26636838fbc3dcd85" style="width:100%">
            <div class="text">Star Wars Jedi Survivor</div>
          </div>

          <div class="mySlides fade">
            <div class="numbertext">4 / 7</div>
            <img src="https://cdn1.epicgames.com/offer/236c74b4cd2e4e3099cbe2ebdc9686fd/EGS_DeadIsland2_DeepSilverDambusterStudios_S1_2560x1440-fdc688ce46680914ee3c4a7949ce8a67" style="width:100%">
            <div class="text">Dead Island II</div>
          </div>

          <div class="mySlides fade">
            <div class="numbertext">5 / 7</div>
            <img src="https://i.ytimg.com/vi/gKc0PLr76U4/maxresdefault.jpg" style="width:100%">
            <div class="text">Resident Evil 4</div>
          </div>

          <div class="mySlides fade">
            <div class="numbertext">6 / 7</div>
            <img src="https://wallpaperaccess.com/full/8966033.jpg" style="width:100%">
            <div class="text">Sons Of The Forest</div>
          </div>

          <div class="mySlides fade">
            <div class="numbertext">7 / 7</div>
            <img src="https://cdn1.epicgames.com/offer/e97659b501af4e3981d5430dad170911/EGS_HogwartsLegacy_AvalancheSoftware_S1_2560x1440-2baf3188eb3c1aa248bcc1af6a927b7e" style="width:100%">
            <div class="text">Hogwarts Legacy</div>
          </div>
          </div>
          <br>
          <div style="text-align:center">
            <span class="dot"></span> 
            <span class="dot"></span> 
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span> 
          </div>
    </section>
    <section id="gamepreviews">
      <div id="acvalhalla">
        <div id="respond">
          <h3>Assasins Creed Walhalla</h3>
            <img class="acvalhallapicture" src="https://static.metacritic.com/images/products/games/4/c583cf0ba8e80f79804ec54352de5886-98.jpg" alt="ac valhalla picture">
            <form action="post_comment.php" method="post" id="commentform">
            <label for="comment_author" class="required">1-10 Arasında Puan Veriniz.</label>
            <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">
            <label for="comment" class="required">Yorum Yazınız</label>
            <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
            <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
            <input name="submit" type="submit" value="İnceleme Gönder" />
          </form>
        </div>
      </div>
      <div id="bf2042">
        <div id="respond">
          <h3>Battlefield 2042</h3>
            <img class="bf2042" src="https://static.metacritic.com/images/products/games/1/cc367940467c7eaab726ad7efd1fc862-98.jpg" alt="battlefied 2042 picture">
            <form action="post_comment.php" method="post" id="commentform">
            <label for="comment_author" class="required">1-10 Arasında Puan Veriniz.</label>
            <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">
            <label for="comment" class="required">Yorum Yazınız</label>
            <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
            <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
            <input name="submit" type="submit" value="İnceleme Gönder" />
          </form>
        </div>
      </div>
      <div id="bf5">
        <div id="respond">
          <h3>Battlefield V</h3>
            <img class="bf5" src="https://static.metacritic.com/images/products/games/0/40be7fd07d02ac64677468703236fa4b-98.jpg" alt="battlefied v picture">
            <form action="post_comment.php" method="post" id="commentform">
            <label for="comment_author" class="required">1-10 Arasında Puan Veriniz.</label>
            <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">
            <label for="comment" class="required">Yorum Yazınız</label>
            <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
            <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
            <input name="submit" type="submit" value="İnceleme Gönder" />
          </form>
        </div>
      </div>
      <div id="cod2">
        <div id="respond">
          <h3>Call Of Duty Modern Warfare II</h3>
            <img class="mw2" src="https://static.metacritic.com/images/products/games/8/542bd97847544c3b360a31f7695806a7-98.jpg" alt="mw2 pic">
            <form action="post_comment.php" method="post" id="commentform">
            <label for="comment_author" class="required">1-10 Arasında Puan Veriniz.</label>
            <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">
            <label for="comment" class="required">Yorum Yazınız</label>
            <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
            <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
            <input name="submit" type="submit" value="İnceleme Gönder" />
          </form>
        </div>
        <div id="di2">
          <div id="respond">
            <h3>Dead Island II</h3>
              <img class="di2" src="https://static.metacritic.com/images/products/games/0/94a0a9fbdf870a4ad546e40010d9f4d2-98.jpg" alt="di2 pic">
              <form action="post_comment.php" method="post" id="commentform">
              <label for="comment_author" class="required">1-10 Arasında Puan Veriniz.</label>
              <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">
              <label for="comment" class="required">Yorum Yazınız</label>
              <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
              <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
              <input name="submit" type="submit" value="İnceleme Gönder" />
            </form>
          </div>
        </div>  
        <div id="dy">
          <div id="respond">
            <h3>Dying Light</h3>
              <img class="dy" src="https://static.metacritic.com/images/products/games/8/81733a7edae596e80228f013ff9ffdfb-98.jpg" alt="dy pic">
              <form action="post_comment.php" method="post" id="commentform">
              <label for="comment_author" class="required">1-10 Arasında Puan Veriniz.</label>
              <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">
              <label for="comment" class="required">Yorum Yazınız</label>
              <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
              <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
              <input name="submit" type="submit" value="İnceleme Gönder" />
            </form>
          </div>
        </div> 
        <div id="dy2">
          <div id="respond">
            <h3>Dying Light 2</h3>
              <img class="dy2" src="https://static.metacritic.com/images/products/games/4/36196cf4526a7271fb645bddbfe26087-98.jpg" alt="dy2 pic">
              <form action="post_comment.php" method="post" id="commentform">
              <label for="comment_author" class="required">1-10 Arasında Puan Veriniz.</label>
              <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">
              <label for="comment" class="required">Yorum Yazınız</label>
              <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
              <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
              <input name="submit" type="submit" value="İnceleme Gönder" />
            </form>
          </div>
        </div>
        <div id="fh5">
          <div id="respond">
            <h3>Forza Horizon 5</h3>
              <img class="fh5" src="https://static.metacritic.com/images/products/games/3/c3a8634bbf83888742c8fc7290559202-98.jpg" alt="fh5 pic">
              <form action="post_comment.php" method="post" id="commentform">
              <label for="comment_author" class="required">1-10 Arasında Puan Veriniz.</label>
              <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">
              <label for="comment" class="required">Yorum Yazınız</label>
              <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
              <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
              <input name="submit" type="submit" value="İnceleme Gönder" />
            </form>
          </div>
        </div>
        <div id="gow">
          <div id="respond">
            <h3>God Of War</h3>
              <img class="gow" src="https://static.metacritic.com/images/products/games/8/452903806353a11fbecc0089ac94ef13-98.jpg" alt="gow pic">
              <form action="post_comment.php" method="post" id="commentform">
              <label for="comment_author" class="required">1-10 Arasında Puan Veriniz.</label>
              <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">
              <label for="comment" class="required">Yorum Yazınız</label>
              <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
              <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
              <input name="submit" type="submit" value="İnceleme Gönder" />
            </form>
          </div>
        </div>
        <div id="gowr">
          <div id="respond">
            <h3>God Of War Ragnarök</h3>
              <img class="gowr" src="https://static.metacritic.com/images/products/games/4/f475a29eab99cd7823b8cf860df11335-98.jpg" alt="gowr pic">
              <form action="post_comment.php" method="post" id="commentform">
              <label for="comment_author" class="required">1-10 Arasında Puan Veriniz.</label>
              <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">
              <label for="comment" class="required">Yorum Yazınız</label>
              <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
              <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
              <input name="submit" type="submit" value="İnceleme Gönder" />
            </form>
          </div>
        </div>
        <div id="gtav">
          <div id="respond">
            <h3>GTA V</h3>
              <img class="gtav" src="https://static.metacritic.com/images/products/games/7/a149682ad949afdce7d25ee90d0ef848-98.jpg" alt="gtav pic">
              <form action="post_comment.php" method="post" id="commentform">
              <label for="comment_author" class="required">1-10 Arasında Puan Veriniz.</label>
              <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">
              <label for="comment" class="required">Yorum Yazınız</label>
              <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
              <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
              <input name="submit" type="submit" value="İnceleme Gönder" />
            </form>
          </div>
        </div>
        <div id="hl">
          <div id="respond">
            <h3>Hogwarts Legacy</h3>
              <img class="hl" src="https://static.metacritic.com/images/products/games/6/fc2e376f50d347fb671091a272cd8cf8-98.jpg" alt="hl pic">
              <form action="post_comment.php" method="post" id="commentform">
              <label for="comment_author" class="required">1-10 Arasında Puan Veriniz.</label>
              <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">
              <label for="comment" class="required">Yorum Yazınız</label>
              <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
              <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
              <input name="submit" type="submit" value="İnceleme Gönder" />
            </form>
          </div>
        </div>
        <div id="hzd">
          <div id="respond">
            <h3>Horizon Zero Dawn</h3>
              <img class="hzd" src="https://static.metacritic.com/images/products/games/6/e5cfe9ceea82fd605822b1eb90ff3e73-98.jpg" alt="hzd pic">
              <form action="post_comment.php" method="post" id="commentform">
              <label for="comment_author" class="required">1-10 Arasında Puan Veriniz.</label>
              <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">
              <label for="comment" class="required">Yorum Yazınız</label>
              <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
              <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
              <input name="submit" type="submit" value="İnceleme Gönder" />
            </form>
          </div>
        </div>
        <div id="r6">
          <div id="respond">
            <h3>Rainbow Six Siege</h3>
              <img class="hzd" src="https://static.metacritic.com/images/products/games/6/a554c8f807edc1c2099aefbf4014c11f-98.jpg" alt="r6 pic">
              <form action="post_comment.php" method="post" id="commentform">
              <label for="comment_author" class="required">1-10 Arasında Puan Veriniz.</label>
              <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">
              <label for="comment" class="required">Yorum Yazınız</label>
              <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
              <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
              <input name="submit" type="submit" value="İnceleme Gönder" />
            </form>
          </div>
        </div>
        <div id="rdr2">
          <div id="respond">
            <h3>Red Dead Redemption II</h3>
              <img class="rdr2" src="https://static.metacritic.com/images/products/games/8/f5b1cbf43a118c429f67022f9e93b41d-98.jpg" alt="rdr2 pic">
              <form action="post_comment.php" method="post" id="commentform">
              <label for="comment_author" class="required">1-10 Arasında Puan Veriniz.</label>
              <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">
              <label for="comment" class="required">Yorum Yazınız</label>
              <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
              <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
              <input name="submit" type="submit" value="İnceleme Gönder" />
            </form>
          </div>
        </div>
        <div id="re4">
          <div id="respond">
            <h3>Resident Evil 4</h3>
              <img class="re4" src="https://static.metacritic.com/images/products/games/4/39b8aca0211b21bea389c9d4eb70235a-98.jpg" alt="re4 pic">
              <form action="post_comment.php" method="post" id="commentform">
              <label for="comment_author" class="required">1-10 Arasında Puan Veriniz.</label>
              <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">
              <label for="comment" class="required">Yorum Yazınız</label>
              <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
              <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
              <input name="submit" type="submit" value="İnceleme Gönder" />
            </form>
          </div>
        </div>
        <div id="re7">
          <div id="respond">
            <h3>Resident Evil Biohazard</h3>
              <img class="re7" src="https://static.metacritic.com/images/products/games/0/4e6cccf0e54262c255f88dd6a94d9ae8-98.jpg" alt="re7 pic">
              <form action="post_comment.php" method="post" id="commentform">
              <label for="comment_author" class="required">1-10 Arasında Puan Veriniz.</label>
              <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">
              <label for="comment" class="required">Yorum Yazınız</label>
              <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
              <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
              <input name="submit" type="submit" value="İnceleme Gönder" />
            </form>
          </div>
        </div>
        <div id="re8">
          <div id="respond">
            <h3>Resident Evil Village</h3>
              <img class="re8" src="https://static.metacritic.com/images/products/games/0/0bfeb6536401efce8d403ffde5b903cb-98.jpg" alt="re8 pic">
              <form action="post_comment.php" method="post" id="commentform">
              <label for="comment_author" class="required">1-10 Arasında Puan Veriniz.</label>
              <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">
              <label for="comment" class="required">Yorum Yazınız</label>
              <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
              <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
              <input name="submit" type="submit" value="İnceleme Gönder" />
            </form>
          </div>
        </div>
        <div id="sonsf">
          <div id="respond">
            <h3>The Sons Of The Forest</h3>
              <img class="sonsf" src="https://static.metacritic.com/images/products/games/1/4f27c064dc483487c533ffc5a0c98ef9-98.jpg" alt="sonsf pic">
              <form action="post_comment.php" method="post" id="commentform">
              <label for="comment_author" class="required">1-10 Arasında Puan Veriniz.</label>
              <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">
              <label for="comment" class="required">Yorum Yazınız</label>
              <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
              <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
              <input name="submit" type="submit" value="İnceleme Gönder" />
            </form>
          </div>
        </div>
        <div id="spdrmn">
          <div id="respond">
            <h3>Spider Man Miles Morales</h3>
              <img class="spdrmn" src="https://static.metacritic.com/images/products/games/9/b98a1d69c467b0ad796ded383599eb72-98.jpg" alt="spdrmn pic">
              <form action="post_comment.php" method="post" id="commentform">
              <label for="comment_author" class="required">1-10 Arasında Puan Veriniz.</label>
              <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">
              <label for="comment" class="required">Yorum Yazınız</label>
              <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
              <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
              <input name="submit" type="submit" value="İnceleme Gönder" />
            </form>
          </div>
        </div>
        <div id="starwars">
          <div id="respond">
            <h3>Star Wars Jedi Survivor</h3>
              <img class="starwars" src="https://static.metacritic.com/images/products/games/8/e6f2682eed74a4c7be28f18d720fc050-98.jpg" alt="starwars pic">
              <form action="post_comment.php" method="post" id="commentform">
              <label for="comment_author" class="required">1-10 Arasında Puan Veriniz.</label>
              <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">
              <label for="comment" class="required">Yorum Yazınız</label>
              <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
              <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
              <input name="submit" type="submit" value="İnceleme Gönder" />
            </form>
          </div>
        </div>
        <div id="tlou part1">
          <div id="respond">
            <h3>The Last Of Us Part I</h3>
              <img class="tlou part1" src="https://static.metacritic.com/images/products/games/0/e482c292d76eb52e010b35979f1366d2-98.jpg" alt="tlou part1 pic">
              <form action="post_comment.php" method="post" id="commentform">
              <label for="comment_author" class="required">1-10 Arasında Puan Veriniz.</label>
              <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">
              <label for="comment" class="required">Yorum Yazınız</label>
              <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
              <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
              <input name="submit" type="submit" value="İnceleme Gönder" />
            </form>
          </div>
        </div>
        <div id="tlou part2">
          <div id="respond">
            <h3>The Last Of Us Part II</h3>
              <img class="tlou part2" src="https://static.metacritic.com/images/products/games/3/976dc172a149f212d4b059e6eede1900-98.jpg" alt="tlou part2 pic">
              <form action="post_comment.php" method="post" id="commentform">
              <label for="comment_author" class="required">1-10 Arasında Puan Veriniz.</label>
              <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">
              <label for="comment" class="required">Yorum Yazınız</label>
              <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
              <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
              <input name="submit" type="submit" value="İnceleme Gönder" />
            </form>
          </div>
        </div>
        <div id="lord of the rings">
          <div id="respond">
            <h3>The Lord Of The Rings Gollum</h3>
              <img class="lord of the rings" src="https://static.metacritic.com/images/products/games/0/400d0ec9d7755bc8b5682b14606aaa4d-98.jpg" alt="lord of the rings pic">
              <form action="post_comment.php" method="post" id="commentform">
              <label for="comment_author" class="required">1-10 Arasında Puan Veriniz.</label>
              <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">
              <label for="comment" class="required">Yorum Yazınız</label>
              <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
              <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
              <input name="submit" type="submit" value="İnceleme Gönder" />
            </form>
          </div>
        </div>
        <div id="outlast trials">
          <div id="respond">
            <h3>Outlast Trials</h3>
              <img class="outlast trials" src="https://static.metacritic.com/images/products/games/3/27c338cbb22163ea8f8f4f9740736dd9-98.jpg" alt="outlast trials pic">
              <form action="post_comment.php" method="post" id="commentform">
              <label for="comment_author" class="required">1-10 Arasında Puan Veriniz.</label>
              <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">
              <label for="comment" class="required">Yorum Yazınız</label>
              <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
              <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
              <input name="submit" type="submit" value="İnceleme Gönder" />
            </form>
          </div>
        </div>
        <div id="the sims 4">
          <div id="respond">
            <h3>The Sims 4</h3>
              <img class="the sims 4" src="https://static.metacritic.com/images/products/games/0/3a027b223bc9a46bcb0c63b84acddec4-98.jpg" alt="the sims 4 pic">
              <form action="post_comment.php" method="post" id="commentform">
              <label for="comment_author" class="required">1-10 Arasında Puan Veriniz.</label>
              <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">
              <label for="comment" class="required">Yorum Yazınız</label>
              <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
              <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
              <input name="submit" type="submit" value="İnceleme Gönder" />
            </form>
          </div>
        </div>
        <div id="the quarry">
          <div id="respond">
            <h3>The Quarry</h3>
              <img class="the quarry 4" src="https://static.metacritic.com/images/products/games/2/6f9d302946a546adb0e7265e28ab5919-98.jpg" alt="the quarry pic">
              <form action="post_comment.php" method="post" id="commentform">
              <label for="comment_author" class="required">1-10 Arasında Puan Veriniz.</label>
              <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">
              <label for="comment" class="required">Yorum Yazınız</label>
              <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
              <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
              <input name="submit" type="submit" value="İnceleme Gönder" />
            </form>
          </div>
        </div>
        <div id="ud">
          <div id="respond">
            <h3>Until Dawn</h3>
              <img class="ud" src="https://static.metacritic.com/images/products/games/4/15a3aa7ff1d5bfbcbcbf73af0dc5bfbd-98.jpg" alt="ud">
              <form action="post_comment.php" method="post" id="commentform">
              <label for="comment_author" class="required">1-10 Arasında Puan Veriniz.</label>
              <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">
              <label for="comment" class="required">Yorum Yazınız</label>
              <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>
              <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
              <input name="submit" type="submit" value="İnceleme Gönder" />
            </form>
          </div>
        </div>
      </div>
    </section>
    <div id="aboutme">
      <h3>Sayfanın Tüm hakları Saklıdır.</h3>
      <p>Web sitesi Yöneticisi Büşra Özcabı</p>
      <p>İletişim:busra.ozcabi@std.ankaramedipol.edu.tr</p>
    </div>
    <script>
      let slideIndex = 0;
      showSlides();
      
      function showSlides() {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";  
        }
        slideIndex++;
        if (slideIndex > slides.length) {slideIndex = 1}    
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";  
        dots[slideIndex-1].className += " active";
        setTimeout(showSlides, 2000); // Change image every 2 seconds
      }
      </script>  
</body>
</html>