<!DOCTYPE html>
<html lang="tr">
<head>
<meta charset="UTF-8">
<meta name="description" content="Game Reviews">
<meta name="keywords" content="Review,Game,Blog">
<meta name="author" content="Büşra Özcabı">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bugcritic-Kayıt Ol</title>
<link rel="icon" href="/image.png" type="image/icon type">
<link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <div class="topnav">
        <img class="image" src="/images/image.png" alt="logo">
        <p class="navheader">Bugcritic</p>
        <a class="active" href="main.ejs">Anasayfa</a>
        <a href="login.ejs">Giriş Yap</a>
        <a href="register.ejs">Hesap Oluştur</a>
    </div>
    <form action="/register.ejs" method="POST">
        <div class="container">
        <h1>Hesap Oluştur</h1>
        <p>Hesap Oluşturmak İçin Lütfen İlgili Alanları Doldurunuz.</p>
        <hr>

        <label for="username"><b>Kullanıcı Adı</b></label>
        <input type="text" placeholder="Kullanıcı Adı Giriniz." name="username" id="email" required>
      
        <label for="psw"><b>Şifre</b></label>
        <input type="password" placeholder="Şifre Giriniz" name="password" id="psw" required>
      
        <hr>
      
        <button class="registerbtn">Hesap Oluştur</button>
    </div>
        
    <div class="container signin">
        <p>Zaten bir hesabın var mı ? <a href="login.ejs">Giriş Yap</a>.</p>
    </div>
      </form>  
</body>
</html>